version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - PORT=5000
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    ports:
      - '4173:4173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend